<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
</head>
<body>
  <a class="github-fork-ribbon" href="https://github.com/CivicTechTO/meetup-attendance-downloader" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="http://civictech.ca">{{ title }}</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Meetup Attendance Downloader</span></a>
      </li>
    </ul>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
          <h1 class="display-4">Well, hello there!</h1>
          <p>
            This simple app is provided to help our venue sponsors easily
            download a CSV version of the public RSVP list for our very next
            Meetup event. We accept RSVPs right up until start time, and this
            app will always provide an up-to-date list.
          </p>
          <p>
            <a href="{{ event.event_url }}">{{event.name }}</a>
          </p>
          <p>
            Total RSVPs: {{ event.yes_rsvp_count }}
          </p>
          <p><a class="btn btn-primary btn-lg" href="/download" role="button">Download Attendance List</a></p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
</body>
<html>
